<form method=POST>
				<label><?php echo $lang['hostname'];?></label><br />
				<input type="text" placeholder="<?php echo $lang['hostname'];?>" name="hostname" /><br />
				<label><?php echo $lang['ipAddr'];?></label><br />
				<input type="text" placeholder="<?php echo $lang['ipAddr'];?>" name="ipaddr" /><br />
				<label><?php echo $lang['roleName'];?></label><br />
				<input type="checkbox"  name="role[]" value="namenode" />Namenode<br />
				<input type="checkbox"  name="role[]" value="datanode" />Datanode<br />
				<input type="checkbox"  name="role[]" value="secondarynamenode" />SecondaryNamenode<br />
				<input type="checkbox"  name="role[]" value="jobtracker" />Jobtracker<br />
				<input type="checkbox"  name="role[]" value="tasktracker" />Tasktracker<br />
				<input type="hidden" name="action" value="<?php echo $_GET['action'];?>" />
				<button type="submit" class="btn"><?php echo $lang['submit'];?></button>
		</form>