<form method=POST>
<label><?php echo $lang['filename'];?></label><br />
<pre>
<?php echo $lang['filenameTips'];?><br />
<?php echo $lang['globalSettingFilenameTips'];?><br />
</pre>
<input type=text placeholder="<?php echo $lang['filename'];?>(with path: /etc/hosts...)" name=filename> <br />
<label><?php echo $lang['content'];?></label><br />
<textarea name=content></textarea><br />
<input type=hidden name=action value="GlobalSettings">
<input type=hidden name=do value=Add>
<button type="submit" class="btn"><?php echo $lang['submit'];?></button>
</form>