<div class="container">
  	<h2><?php echo $lang['addUser'];?></h2>
<form class="form-horizontal" method="post">
  <div class="control-group">
    <label class="control-label"><?php echo $lang['username'];?></label>
    <div class="controls">
      <input type="text" name="username" placeholder="<?php echo $lang['username'];?>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"><?php echo $lang['newPass'];?></label>
    <div class="controls">
      <input type="password" name="password" placeholder="<?php echo $lang['newPass'];?>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"><?php echo $lang['reNewPass'];?></label>
    <div class="controls">
      <input type="password" name="password2" placeholder="<?php echo $lang['reNewPass'];?>">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
       <button type="submit" class="btn" name=submit><?php echo $lang['submit'];?></button>
    </div>
  </div>

</form>
 </div>