<div class="container">
  	<h2><?php echo $lang['changePassword'];?></h2>
<form class="form-horizontal" method="post">
  <div class="control-group">
    <label class="control-label"><?php echo $lang['curPass'];?></label>
    <div class="controls">
      <input type="password" name="cur_pass" placeholder="<?php echo $lang['curPass'];?>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"><?php echo $lang['newPass'];?></label>
    <div class="controls">
      <input type="password" name="new_pass1" placeholder="<?php echo $lang['newPass'];?>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"><?php echo $lang['reNewPassword'];?></label>
    <div class="controls">
      <input type="password" name="new_pass2" placeholder="<?php echo $lang['reNewPassword'];?>">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
       <button type="submit" class="btn"><?php echo $lang['submit'];?></button>
    </div>
  </div>
 </div>
 <input type="hidden" name="action" value="ChangePassword" />
</form>