      <div class="span2">
        <div class="btn-group btn-group-vertical">
          <a href="./Install.php?action=Install" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['install'];?> </a>
          <a href="./Install.php?action=Uninstall" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['uninstall'];?> </a>
          <a href="./Install.php?action=PushFiles" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['pushFiles'];?> </a>
        </div>
      </div>