      <div class="span2">
        <div class="btn-group btn-group-vertical">
          <a href="./InstallManager.php?action=PushHadoopFiles" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['pushHadoopFiles'];?> </a>
          <a href="./InstallManager.php?action=Install" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['install'];?> </a>
          <a href="./InstallManager.php?action=PushSettingFiles" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['pushFiles'];?> </a>
        </div>
      </div>