<!DOCTYPE html>
<html lang="<?php echo $lang['lang'];?>">
  <head>
    <meta charset="utf-8">
    <title><?php echo $lang["title"];?></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="xianglei">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>
    <script src="js/bootstrap-affix.js"></script>
    <script src="js/application.js"></script>

  </head>
  
  <body>
<form class="form-horizontal" method="post">
  <div class="control-group">
    <label class="control-label"><?php echo $lang['username'];?></label>
    <div class="controls">
      <input type="text" name="username" placeholder="<?php echo $lang['username'];?>">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label"><?php echo $lang['password'];?></label>
    <div class="controls">
      <input type="password" name="password" placeholder="<?php echo $lang['password'];?>">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
       <button type="submit" class="btn"><?php echo $lang['easyhadoop'];?></button>
    </div>
  </div>
</form>
