      <div class="span2">
        <div class="btn-group btn-group-vertical">
          <a href="./NodeMonitor.php?action=HddUsed" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['hddUsed'];?> </a>
          <a href="./NodeMonitor.php?action=MrUsed" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['mrUsed'];?> </a>
		  <a href="./NodeMonitor.php?action=CheckHadoopProcess" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['checkHadoopProcess'];?> </a>
        </div>
      </div>