
  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="./NodeManager.php?action=Add"><i class="icon-chevron-right"></i> <?php echo $lang['addNode'];?> </a></li>
          <li><a href="./NodeManager.php?action=Remove"><i class="icon-chevron-right"></i> <?php echo $lang['removeNode'];?> </a></li>
          <li><a href="./NodeManager.php?Action=Modify"><i class="icon-chevron-right"></i> <?php echo $lang['modifyNode'];?> </a></li>
        </ul>
      </div>
      <div class="span9">



        <!-- Global Bootstrap settings
        ================================================== -->
          
			
      