      <div class="span2">
        <div class="btn-group btn-group-vertical">
          <a href="./NodeOperator.php?action=FormatNamenode" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['formatNamenode'];?> </a>
		  <a href="./NodeOperator.php?action=CheckHadoopProcess" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['checkHadoopProcess'];?> </a>
          <a href="./NodeOperator.php?action=Operate" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['operateNode'];?> </a>
          <a href="./NodeOperator.php?action=ViewLogs" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['viewLogs'];?> </a>
		  <a href="./NodeOperator.php?action=RunShellCommand" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['runShellCommand'];?> </a>
        </div>
      </div>