      <div class="span2">
        <div class="btn-group btn-group-vertical">
        	<a href="./UserAdmin.php?action=ChangePassword" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['changePassword'];?> </a>
          <a href="./UserAdmin.php?action=AddUser" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['addUser'];?> </a>
          <a href="./UserAdmin.php?action=RemoveUser" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['removeUser'];?> </a>
          <a href="./UserAdmin.php?action=ModifyUser" class="btn"><i class="icon-chevron-right"></i> <?php echo $lang['modifyUser'];?> </a>
        </div>
      </div>
